/*======Header=======*/

header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
    
    position: relative;
}

.i-bg{
    clip-path: polygon(100% 0%, 100% 48%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background: white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

/*==========CTA=====*/
.cta{
    margin-top: 2.5rem;
    gap:1.2rem; 
    display: flex;
    justify-content: center;
}


/*=========Socials=====*/
.header_socials{
    gap:0.8rem;
    position: absolute;
    align-items: center;
    display:flex;
    flex-direction: column;
    left: 0;
    bottom: 3rem;
}

.me {
    margin-top: 4rem;
    background: linear-gradient(var(--color-primary), transparent) ;
    width: 22rem;
    height: 30rem;
    left: calc(50% - 11rem);
    border-radius: 12rem 12rem 0 0;
    position: absolute;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.header_socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

@media screen and (max-width : 1024px){
    .header{
        height: 68vh;
    }
}


@media screen and (max-width : 600px){
    .header{
        height: 100vh;
    }

    .header_socials,.scroll__down{
        display: none;
    }
}